@font-face {
  font-family: 'hyperspace';
  src: url('../font/hyperspace.woff2') format('woff2'),
       url('../font/hyperspace.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

*, *:before, *:after {
  box-sizing: border-box;
  font-weight: normal;
  padding: 0;
  margin: 0;
  line-height: 1;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: hyperspace, sans-serif;
  font-size: 100%;
  font-weight: 300;
  color: #eee;
  background-color: #222;
  overflow: hidden;
}

body::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-image: repeating-linear-gradient(to bottom, transparent 0 ,transparent 3px, rgba(0,0,0,0.2) 3px, rgba(0,0,0,0.2) 4px);
  background-size: 100% 4px, cover;
  box-shadow: 0 0 20vmin 15vmin rgba(0,0,0,0.3) inset;
  pointer-events: none;
}

#game {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 1.5vh auto;
/*
  // remove for pixelated scaling
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -o-crisp-edges;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
*/
}

#health {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 1.5vh;
}

#score, #fps {
  position: absolute;
  bottom: 0.5em;
  left: 0.5em;
  font-size: 5vh;
  color: #6f0;
}

#fps {
  left: auto;
  right: 0.5em;
  font-size: 2.5vh;
}

#start {
  display: none;
  position: absolute;
  width: 8em;
  height: 5em;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  font-size: 6vmin;
  text-align: center;
  color: #6f0;
  cursor: pointer;
}

#start.active {
  display: block;
}

#touch {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#touch div {
  display: none;
  position: absolute;
  width: 12vh;
  height: 12vh;
  border-width: 3px;
  border-style: solid;
  border-radius: 50%;
}

#touch.active div {
  display: block;
}

#left {
  left: 1vh;
  bottom: 19vh;
  border: 3px solid rgba(255,255,255,0.3);
}

#right {
  left: 6vh;
  bottom: 8vh;
  border: 3px solid rgba(255,255,255,0.3);
}

#up {
  right: 1vh;
  bottom: 19vh;
  border: 6px solid rgba(255,0,0,0.3);
}

#down {
  right: 6vh;
  bottom: 8vh;
  border: 6px solid rgba(60,255,60,0.3);
}
